
<h1>記事一覧</h1>
<%= link_to "記事新規登録",new_user_article_path, class:"btn btn-primary"%>
<table class = "table">
  <thead  class="table-divider">
    <tr>
      <th class="hedder-title">詳細表示</th>
      <th class="hedder-title">タイトル</th>
      <th class="hedder-title">内容</th>
      <th class="hedder-title">画像</th>
      <th class="hedder-title">編集・削除</th>
    </tr>
  </thead>
<% @user.articles.each do |article|%>
  <tbody>
    <tr>
        <td><%= link_to "詳細表示", user_article_path(@user, article), class:"btn btn-success" %></td>
        <td><%= article.title%></td>
        <td><%= article.content%></td>
        <td>
        <% if article.image.present? %>
        <img src="<%= url_for(article.image) %>" alt="Article Image"><br>
        <% else %>
          <img src= "/article_images/images.png" alt="Article Image"><br>
        <% end %>
        </td>
        <td>
          <%= link_to "編集",edit_user_article_path(@user, article), class:"btn btn-success"%>
          <%= link_to "削除", user_article_path(@user, article),method: :delete, class:"btn btn-danger"%>
        </td>
    </tr>
  </tbody>
<% end %>
</table>
</div>