
<div class="container">
<h1>記事詳細</h1>
<table class = "table">
<thead class="table-divider">
  <tr>
    <th class="hedder-title">タイトル</th>
    <th class="hedder-title">内容</th>
    <th class="hedder-title">画像</th>
  </tr>
  </thead>

  <tbody>
  <tr>
  <td><%="#{@article.title}"%></td>
  <td><%= @article.content%></td>
  <td>
    <% if @article.image.attached?%>
      <%= image_tag @article.image %>
    <%else%>
      <img src= "/article_images/images.png" alt="Article Image"><br>
    <% end %>
  </td>
  </tr>
  </tbody>
</div>
</table>
<%= link_to "編集",edit_user_article_path(@user, @article), class:"btn btn-success"%>
<%= link_to "削除", user_article_path(@user, @article),method: :delete, class:"btn btn-danger"%><br>

<%= link_to "記事一覧へ戻る",user_articles_path(@user), class:"btn btn-primary ", style: "margin-top: 10px;"%>
</div>