<!DOCTYPE html>
<html>
  <head>
    <title>JitApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/scss" href="application.scss">
  </head>

   <div class="container">
      <header>
          <nav>
          <ul class="nav navbar-nav navbar-left">
          <%= link_to "JIT APP", '#', class:"btn btn-primary", id:"logo"%>
          </ul>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in?%>
                <li><%= link_to "sign_out",destroy_user_session_path,method: :delete,class:"btn btn-primary" %></li>
              <% else %>
                <li><%= link_to "sign_in",new_user_session_path, class:"btn btn-primary" %></li>
              <% end %>
          </nav>
        </div>
      </header>
    </div>

  <body>
    <div class="container">
       <%= yield %>
    </div>
  </body>
</html>
