<!DOCTYPE html>
<html>
  <head>
    <title>JitApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <%= link_to "JIT APP", '#',id:"logo"%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "sign_in",new_user_session_path %></li>
            <li></li>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
